html {
  background-color: var(--primary);
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(var(--primary) 0%, var(--secondary) 100%)
    no-repeat;
}
.homeContainer {
  display: flex;
  justify-content: center;
}
.home {
  max-width: 600px;
  min-width: 250px;
  padding: 200px 20px 0 20px;
}
h1 {
  color: white;
  text-align: center;
  font-family: manrope;
  font-weight: 800;
}
h2 {
  color: white;
  text-align: center;
  font-family: poppins;
  font-weight: 300;
  font-size: 24px;
}
button {
  font-family: poppins;
  cursor: pointer;
}
